meta(charset="utf-8")
title= title || 'Template'
meta(http-equiv="X-UA-Compatible" content="IE=Edge")
meta(name="viewport" content="width=device-width, initial-scale=1")
meta(name="theme-color" content="#fff")
meta(name="msapplication-TileColor" content="#da532c")
meta(name="format-detection" content="telephone=no")
//- media tags
include _media-tags
//- media tags
link(href='static/css/index' + suffix + '.css', rel='stylesheet')
link(rel="apple-touch-icon" sizes="180x180" href="static/img/favicon/apple-touch-icon.png")
link(rel="shortcut icon" type="image/x-icon" href="static/img/favicon/favicon.ico")
link(rel="icon" type="image/png" sizes="32x32" href="static/img/favicon/favicon-32x32.png")
link(rel="icon" type="image/png" sizes="16x16" href="static/img/favicon/favicon-16x16.png")
link(rel="manifest" href="static/img/favicon/site.webmanifest")


