.icon-arrow {
  width: 0.64em;
  height: 1em;
  fill: #212121;
  stroke: initial;
}
.icon-cross {
  width: 1em;
  height: 1em;
  fill: #0477BD;
  stroke: initial;
}
.icon-database {
  width: 1em;
  height: 1em;
  fill: #0477BD;
  stroke: initial;
}
.icon-email {
  width: 1em;
  height: 1em;
  fill: #fff;
  stroke: initial;
}
.icon-internet {
  width: 1em;
  height: 1em;
  fill: #0477BD;
  stroke: initial;
}
.icon-logo {
  width: 2.31em;
  height: 1em;
  fill: #fff;
  stroke: initial;
}
.icon-network {
  width: 1em;
  height: 1em;
  fill: #0477BD;
  stroke: initial;
}
.icon-phone {
  width: 0.9em;
  height: 1em;
  fill: #fff;
  stroke: initial;
}
.icon-registration {
  width: 1.25em;
  height: 1em;
  fill: #27AE60;
  stroke: initial;
}
.icon-user {
  width: 0.77em;
  height: 1em;
  fill: #fff;
  stroke: initial;
}
