//fonts
$font-reg: 'Rubik-Regular';
$font-med: 'Rubik-Medium';
$font-bold: 'Rubik-Bold';

//colors from hovermap
$hovered: #38b96e;
$hoveredDark: #1e904e;
//colors for project
$accent: #27AE60;
$blueLight: rgba(4, 119, 189, 0.1);
$blue: #0477BD;
$error: rgba(175, 64, 64, 0.867);
$white: #fafcfe;
$dark: #212121;

//other variables
$desktop: 1400px;
$desktopSmall: 1260px;
$desktopUltra: 1140px;
$tabletMedium: 991px;
$tablet: 767px;
$tabletSmall: 630px;
$mobile: 480px;
$mobileSmall: 320px;