mixin goals()
    section.goals.js-section#goals
        .container
            h2 Цели проекта
            .goals-list
                .goals-card
                    .goals-image
                        +svg('database')
                    .goals-text
                        h3 Организация хранения
                        p Предоставьте возможность себе и вашим сотрудникам работать с единой, корпоративной базой документов (ЕГРН, КПТ, Межевые планы и т.д.). 
                .goals-card
                    .goals-image
                        +svg('internet')
                    .goals-text
                        h3 Решение для Вас
                        p Функциональность сервиса может быть доработана под нужды и предмет вашего бизнеса. Мы можем предложить решение любых ваших задач по обработке документов.
                .goals-card
                    .goals-image
                        +svg('network')
                    .goals-text
                        h3 Интеграция
                        p Интегрируйте rrdoc в ваше программное обеспечение с помощью SDK и API, или обратитесь к нам и мы подскажем лучшее решение.