mixin header()
    header.header.js-header
      .container
          .header-logo.logo
            +svg('logo')
          nav.header-nav.main-nav
            ul
              li(style="display: none;")
                span.js-links(data-to="goals") Intro
              li
                span.js-links(data-to="goals") Цели
              li(style="display: none;")
                span.js-links(data-to="pre-opportunities") Test
              li
                span.js-links(data-to="opportunities") Возможности	
              li(style="display: none;")
                span.js-links(data-to="callBack") CallBack
              li
                span.js-links(data-to="prices") Цены
              li
                span.js-links(data-to="conditions") Условия
              li
                span.js-links(data-to="contacts") Контакты
              li
                span
                  a(href="http://wiki.itt/x/AoDLAQ") API
                  //- span API
          //- .header-btns
            //- button.header-button.header-button--registration.js-open-p(data-open="registration-popup")
              +svg('api')
              span API
            button.header-button.header-button--login.js-open-p(data-open="login-popup")
              +svg('user')
              span Вход
            button.header-button.header-button--login.js-open-p(data-open="login-popup")
              +svg('user')
              span Вход
          div.header-burger.js-burger
              span
              span
              span
