mixin intro()
    section.intro.js-section
      .container
        .intro-text
          h1 Ваше решение по обработке 
            | сведений кадастра недвижимости
          a(href="https://rrdoc.ru/") Попробовать
        .intro-image
          img(src="./static/img/intro.png", alt="Intro image")
      .intro-bg
          svg(version="1.1" id="Слой_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1920 1080" style="enable-background:new 0 0 1920 1080;" xml:space="preserve")
              rect.st3(width="1920" height="1080" style={display:'none', fill:'#FFFFFF'})
              g
                  linearGradient(id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="1131.0936" y1="619.8753" x2="559.9288" y2="-369.4113")
                      stop(offset="0" style="stop-color:#0477BD")
                      stop(offset="1" style="stop-color:#27AE60")
                  path(class="st4" style={fill:'url(#SVGID_1_)'} d="M1920,0H0.1v622.3l43.6,97.8c56.7,127.1,205.6,184.1,332.6,127.5L1920,159.3V0z")