mixin opportunities()
    section.opportunities.js-section#opportunities
        .container 
            h2 Наши возможности
            .opportunities-item
                .opportunities-image
                    img(src="./static/img/opportun-1.svg", alt="Opportunities image")
                .opportunities-text
                    div.number.js-open-tab <span>1</span>
                        h3.number-title Систематизированное хранение и поиск
                        +svg('arrow')
                    .opportunities-inner.js-slide-down
                        h3 Систематизированное хранение и поиск
                        p Сервис поддерживает большинство типов документов Росрееста в&nbsp;т.ч. документов, которые находятся в&nbsp;проектной стадии. Централизованное хранение, а&nbsp;также удобная система поиска позволят вам, и&nbsp;вашим коллегам наиболее эффективно организовать взаимодействие, в&nbsp;рамках которого формируются, запрашиваются или обрабатываются документы кадастра недвижимости.
            .opportunities-item
                .opportunities-image
                    img(src="./static/img/opportun-2.svg", alt="Opportunities image")
                .opportunities-text
                    div.number.js-open-tab <span>2</span>
                        h3.number-title Обработка и преобразование
                        +svg('arrow')
                    .opportunities-inner.js-slide-down
                        h3 Обработка и преобразование
                        p Работать непосредственно с документами в формате <span>XML</span> не всегда представляется возможным и удобным. В большинстве случаев их необходимо преобразовать в человеко-читаемый вид. В зависимости от типа документа, <span>rrdoc</span> позволяет:
                        ul
                            li выполнить преобразование в <span>PDF</span>
                            li извлечь сведения о правах в табличной форме <span>Excel</span>
                            li конвертировать в обменные формат геоинформационных систем <span>(mid\mif, shp, kml)</span>
            .opportunities-item
                .opportunities-image
                    img(src="./static/img/opportun-3.svg", alt="Opportunities image")
                .opportunities-text
                    div.number.js-open-tab <span>3</span>
                        h3.number-title Анализ и подготовка отчетов
                        +svg('arrow')
                    .opportunities-inner.js-slide-down
                        h3 Анализ и подготовка отчетов
                        p Иногда наши клиенты просят реализовать пакетную обработку группы документов, в&nbsp;результате которой формируется отчет требуемой формы. Становитесь нашим клиентом, и&nbsp;мы&nbsp;предложим Вам решение по&nbsp;быстрому анализу больших объемов сведений кадастра недвижимости и&nbsp;подготовке отчета требуемой формы.
            .opportunities-item
                .opportunities-image
                    img(src="./static/img/opportun-4.svg", alt="Opportunities image")
                .opportunities-text
                    div.number.js-open-tab <span>4</span>
                        h3.number-title Получение сведений государственного кадастра недвижимости
                        +svg('arrow')
                    .opportunities-inner.js-slide-down
                        h3 Получение сведений государственного кадастра недвижимости
                        p <span>rrdoc не&nbsp;является ресурсом, формирующим выписки ЕГРН, этим занимается ФГБУ &laquo;ФКП Росреестра&raquo;.</span><br> 
                          | Однако при наличии потребности оперативного получения сведений кадастра недвижимости в&nbsp;большом объеме, когда сайт Росреестра &laquo;тормозит&raquo; rrdoc позволит Вам лучшим образом организовать и&nbsp;отслеживать процесс заказа сведений.