mixin pre-opportunities()
    section.pre-opportunities.js-section
        .container 
            .pre-opportunities-image
                img(src="./static/img/pre-opportunities.png", alt="Pre-opportunities image")
            .pre-opportunities-list
                ul
                    li Конвертируйте документы Росреестра в другие форматы
                    li обменивайтесь с коллегами
                    li подготавливайте отчеты
                    li Упрощайте анализ информации
                    li Храните в надежном месте
                a.choose.js-open-p(data-open="youtube") Подробнее о возможностях
        .pre-opportunities-bg