mixin prices()
    section.prices.js-section#prices
        .container
            h2 Цены
            p Начните бесплатно, меняйте условия по необходимости
            .prices-list
                .prices-card
                    .card-top
                        h3 Бесплатно
                        div.bonus Один пользователь
                        ul
                          li Неограниченное количество документов в хранилище
                          li Техническая и консультационная поддержка по почте
                          li.inActive Неограниченное количество операций обработки
                          li.inActive Централизованное управление правами пользователей
                          li.inActive Приоритетная техническая и консультационная поддержка по телефону
                    .card-bottom
                        span.price 0 &#8381;
                        span.duration мес/пользователь
                        button.choose.js-open-p(data-open="choose-tariff") Выбрать
                .prices-card
                    .card-top
                        h3 Стандарт
                        div.bonus Не более 10 сотрудников в 
                            span.js-toogle-tooltip компании
                                .bonus-tooltip.js-tooltip <span>Компания</span> - группа людей, работающих с сервисом как с единым информационным пространством
                        ul
                            li Неограниченное количество документов в хранилище
                            li Техническая и консультационная поддержка по почте
                            li Неограниченное количество операций обработки
                            li Централизованное управление правами пользователей
                            li.inActive Приоритетная техническая и консультационная поддержка по телефону
                    .card-bottom
                        span.price 100 &#8381;
                        span.duration мес/пользователь
                        button.choose.js-open-p(data-open="choose-tariff") Выбрать
                .prices-card
                    .card-top
                        h3 Премиум
                        div.bonus Неограниченное количество сотрудников в компании
                        ul
                            li Неограниченное количество документов в хранилище
                            li Техническая и консультационная поддержка по почте
                            li Неограниченное количество операций обработки
                            li Централизованное управление правами пользователей
                            li Приоритетная техническая и консультационная поддержка по телефону
                            //- li Лицензия на геоинформационную систему <a href="">geom</a> (для каждого пользователя)
                        div.present 
                            svg(width="38" height="38" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg")
                                path(d="M2.375 20.1646V34.4146C2.375 35.7256 3.44138 36.7896 4.75 36.7896H16.625V20.1646H2.375Z")
                                path(d="M35.625 10.6647H28.1105C28.6496 10.2966 29.1128 9.93086 29.4358 9.60311C31.3524 7.67698 31.3524 4.54198 29.4358 2.61586C27.5737 0.739606 24.3295 0.744356 22.4699 2.61586C21.4391 3.64898 18.7079 7.85511 19.0855 10.6647H18.9145C19.2898 7.85511 16.5585 3.64898 15.5301 2.61586C13.6681 0.744356 10.4239 0.744356 8.56425 2.61586C6.65 4.54198 6.65 7.67698 8.56188 9.60311C8.88725 9.93086 9.35038 10.2966 9.8895 10.6647H2.375C1.06638 10.6647 0 11.7311 0 13.0397V16.6022C0 17.2577 0.532 17.7897 1.1875 17.7897H16.625V13.0397H21.375V17.7897H36.8125C37.468 17.7897 38 17.2577 38 16.6022V13.0397C38 11.7311 36.936 10.6647 35.625 10.6647ZM16.4849 10.5864C16.4849 10.5864 16.3851 10.6647 16.0455 10.6647C14.4044 10.6647 11.2718 8.95948 10.2481 7.92873C9.253 6.92648 9.253 5.29248 10.2481 4.29023C10.7303 3.80573 11.3691 3.53973 12.0484 3.53973C12.7253 3.53973 13.3641 3.80573 13.8462 4.29023C15.447 5.90048 17.0382 10.014 16.4849 10.5864ZM21.9521 10.6647C21.6149 10.6647 21.5151 10.5887 21.5151 10.5864C20.9618 10.014 22.553 5.90048 24.1537 4.29023C25.1109 3.32361 26.7853 3.31886 27.7519 4.29023C28.7494 5.29248 28.7494 6.92648 27.7519 7.92873C26.7283 8.95948 23.5956 10.6647 21.9521 10.6647Z")
                                path(d="M21.375 20.1646V36.7896H33.25C34.561 36.7896 35.625 35.7256 35.625 34.4146V20.1646H21.375Z")
                            p лицензия на геоинформационную систему geom (для каждого пользователя)
                    .card-bottom
                        span.price 175 &#8381;
                        span.duration мес/пользователь
                        button.choose.js-open-p(data-open="choose-tariff") Выбрать
            p.gray-text * возможно заключение договора с юридическим лицом.
        .prices-bg
            svg(version="1.1" id="Слой_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1920 1080" style="enable-background:new 0 0 1920 1080;" xml:space="preserve")
              rect.st3(width="1920" height="1080" style={display:'none', fill:'#FFFFFF'})
              g
                  linearGradient(id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="1131.0936" y1="619.8753" x2="559.9288" y2="-369.4113")
                      stop(offset="0" style="stop-color:#0477BD")
                      stop(offset="1" style="stop-color:#27AE60")
                  path(class="st4" style={fill:'url(#SVGID_1_)'} d="M1920,0H0.1v622.3l43.6,97.8c56.7,127.1,205.6,184.1,332.6,127.5L1920,159.3V0z")