extends ../extend/default

block variables
    - var title = 'Обработка документов Росреестра';

block main
    main.main-page(data-page='home')
        +intro()
        +goals()
        +pre-opportunities()
        +opportunities()
        +callBack()
        +prices()
        +conditions()
        +contacts()